.tabBck {
	background: #7CB8E2 ;
	color: #fff;
	padding: 7px 15px;
	text-align: left;
}

.collapse-bck {
	background: #CEF6E3;
}

.not-collapse-bck {
	background: #FFFF;
}

.container {
	display: table;
	width: 90%;
	border-collapse: collapse;
	position: relative;
}

.heading {
	font-weight: bold;
	display: table-row;
	background-color: #81BEF7;
	text-align: center;
	line-height: 25px;
	font-size: 9px;
	font-family: georgia;
	color: #fff;
}

.table-row {
	display: table-row;
	text-align: center;
	width: 100%;
}

.col {
	display: table-cell;
	border: 1px solid #CCC;
	width: 50%;
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.function-heading {
	margin-top: -20px;
	font-size: 8px;
}

.row {
	margin-top: 20px;
	padding: 0 10px;
}

.clickable {
	cursor: pointer;
}

body {
	padding: 0;
}
